body {
  background-image: url("assets/bgblue.jpg");
  background-size: cover;
  height: 100vh;
}

img {
  height: 200px;
  border-radius: 20px;
  padding: 160px;
  transition: 1s;
  filter: grayscale(50%);
  /*      border: 3px solid blue; */
}

img:hover {
  height: 600px;
  filter: grayscale(40%);
  /*   border: 1px solid red; */
}


.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
a {
  animation: coolAnimation 3s infinite;
  font-family: monospace;
  font-size: xx-large;
  text-align: center;
}

#p1 {
  animation: coolAnimation 1s infinite;
  font-family:monospace;
  font-size: x-large;
  text-align: center;
  text-shadow: 20cm;
}

@keyframes coolAnimation {
  50% {
    color: rgb(8, 100, 140);
  }
  20% {
    color: rgb(94, 145, 163);
  }
  70% {
    color: rgb(75, 179, 221);
  }
}
