body {
  background-image: url("assets/bwg.jpg");
  background-size: cover;
  height: 100vh;
}

img {
  height: 700px;
  border-radius: 10px;
  padding: 60px;
  transition: 1s;
  filter: grayscale(50%);
  /*      border: 3px solid blue; */
}

img:hover {
  height: 400px;
  filter: grayscale(40%);
  /*   border: 1px solid red; */
}



.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
a {
  font-family: monospace;
  font-size: 40px;
  text-align: center;
  padding: 30px;
  color: rgb(3, 69, 102);
}

#p1 {
  font-family:monospace;
  font-size: 20px;
  text-align: center;
  padding: 100px;
  color: rgb(12, 61, 90);
  
}



